<div>
  <button (click)="addPerson()">Add Person</button>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let people of peopleList">
      <td>{{people.email}}</td>
      <td>{{people.userName}}</td>
      <td>{{people.image}}</td>
    </tr>

  </tbody>
</table>
</div>

<!--option: 2-->

<!-- div>
  <form [formGroup]="peopleForm" (submit)="formSubmit()">
    <label>Address</label>
    <input type="text" formControlName="address" /> <br>

    <label>User Name</label>
    <input type="text" formControlName="name" />

    <label>Email</label>
    <input type="text" formControlName="email" />

    <label>Contact No</label>
    <input type="text" formControlName="contactNo" />

    <button type="submit">Add Person</button>

  </form>
</div>
<div>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let people of peopleList">

        <td>{{people.email}}</td>
        <td>{{people.userName}}</td>
        <td>{{people.image}}</td>
      </tr>

    </tbody>
  </table> -->
</div>
<!--option: 2-->

<!-- div>
  <form [formGroup]="peopleForm" (submit)="formSubmit()">
    <label>Address</label>
    <input type="text" formControlName="address" /> <br>

    <label>User Name</label>
    <input type="text" formControlName="name" />

    <label>Email</label>
    <input type="text" formControlName="email" />

    <label>Contact No</label>
    <input type="text" formControlName="contactNo" />

    <button type="submit">Add Person</button>

  </form>
</div>
<div>

  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Image</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let people of peopleList">

        <td>{{people.email}}</td>
        <td>{{people.userName}}</td>
        <td>{{people.image}}</td>
      </tr>

    </tbody>
  </table> -->
